.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: flex-start;
}

.flex-item{
  align-self: center;
}

.fee-container{
  justify-content: space-between;
  padding-top: 2px;
}

.messageText{
  width: 90%;
}

.sendIcon{
  width: 10%;
  text-align: center;
}

// Overwrite
.message.left{
  float: right;
  background-color: #D6D3CF;
  left: -10px;
}
.message.right{
  right: 10px;
  float: right;
  background-color: white;
}
.message-box{
  padding-top: 5px;
  padding-right: 2px;
  padding-left: 5px;
  height: 350px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.message-meta{
  text-align: end;
  right: 10px;
  padding-right: 10px;
}
.sized.small {
    width: 35px;
}
.label{
  margin-top: 0px;
}
.field{
  margin-bottom: 0px;
}

input[type=range] {
  width: 90%;
}

.whitebox {
  background-color: white;
  width: 100%;
  padding: 10px;
  margin-bottom: 1px;
  margin-top: 1px;
}

.bluebox {
  background-color: #4990E2;
  width: 100%;
  padding: 10px;
  color: white;
  font-family: "Brandon Text Regular", Helvetica, sans-serif;
  font-size: 11px;
  font-weight: normal;
  letter-spacing: 0.1px;
  line-height: 1.5;
}

.greenbox {
  background-color: #27E200;
  width: 100%;
  padding: 10px;
  color: white;
  font-family: "Brandon Text Regular", Helvetica, sans-serif;
  font-size: 11px;
  font-weight: normal;
  letter-spacing: 0.1px;
  line-height: 1.5;
}

.redbox {
  background-color: #D0021B;
  width: 100%;
  padding: 10px;
  color: white;
  font-family: "Brandon Text Regular", Helvetica, sans-serif;
  font-size: 11px;
  font-weight: normal;
  letter-spacing: 0.1px;
  line-height: 1.5;
}

.progress{
  width: 100%;
  height: 5px;
  background-color: black;
}

.progress-bar-min{
  height: 5px;
  background-color: #D8D8D8;
}
.progress-bar-value{
  height: 5px;
  background-color: #27E200;
}

.anrede {
  float: left;
  width: 40px;
}

.onoffswitch {
    position: relative; width: 155px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    height: 20px; padding: 0; line-height: 20px;
    border: 0px solid #FFFFFF; border-radius: 0px;
    background-color: #9E9E9E;
}
.onoffswitch-label:before {
    content: "Transport";
    text-align: center;
    display: block; width: 77px; margin: 0px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 78px;
    border-radius: 0px;
    box-shadow: 0 6px 12px 0px #757575;
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: #9E9E9E;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
   border-color: #000000;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 0px;
    background-color: #FFFFFF;
    box-shadow: 3px 6px 18px 0px rgba(0, 0, 0, 0.2);
}

.icon-button {
  padding: 0;
  background-color: transparent;
}
